
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSutie">
   <test name="flipkartTest1">
   <parameter name="arun" value="vijeesh"></parameter>
   
   <groups>
   <run>
   <include name = "smoke"/>
   </run>
   </groups>
   
   
      <classes>
      <class name="Basepackage.BaseClass" />
      <class name="Test.FileUploder">
      </class> 

       
   </classes>
   </test> 
</suite>

