
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSutie">
   <test name="flipkartTest1">
   <parameter name="arun" value="vijeesh"></parameter>
   
  
   
   
      <classes>
      <class name="BasePackage.BaseClass" />
      <class name="SignInTest">
      </class> 

       
   </classes>
   </test> 
</suite>

